body {
    background-color:black;
}

.todo-box {
    background-color:cornflowerblue;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 400px; /* Limit width for better readability */
    text-align: center;
}

h1 {
    color:#2b3136;
    margin-bottom: 20px;
}